// override variables only admin
$icon-font-path:          "../css/fonts/";
$font-size-base:          11px;
$font-size-large:         ceil(($font-size-base * 0.85));
$font-size-small:         ceil(($font-size-base * 0.65));
$font-size-h1:            floor(($font-size-base * 2.15));
$font-size-h2:            floor(($font-size-base * 1.7));
$font-size-h3:            ceil(($font-size-base * 1.25));
$font-size-h4:            $font-size-base;
$font-size-h5:            ceil(($font-size-base * 0.85));
$font-size-h6:            ceil(($font-size-base * 0.65));
$padding-small-vertical:  2px;
$navbar-height: 28px;

@import "bootstrap/_bootstrap";

// font-awesome override
$fa-font-path:        "../css/fonts";
$fa-inverse: $brand-info;
@import 'font-awesome/font-awesome';
@import 'jquery-ui/jquery-ui';
@import "plugins/jquery-growl";
@import "plugins/chosen";
@import "plugins/owl.carousel";
@import "plugins/vis";
@import "admin-custom";